.task2-solution {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.like-btn2,
.dislike-btn2 {
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.like-btn2.active {
    background: #eef7ff;
}

.dislike-btn2.active {
    background: #dd5f5f;
}

.like-icon2,
.dislike-icon2 {
    width: 32px;
    height: 32px;
    transition: fill 0.2s;
}

.like-btn2.active .like-icon2 {
    fill: var(--secondary-color);
}

.dislike-btn2.active .dislike-icon2 {
    fill: white;
}