/* Общие стили */
.task {
    background: white;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
    border-left: 4px solid var(--secondary-color);
}

.task h3 {
    color: var(--primary-color);
    margin-bottom: 8px;
}

.task p {
    margin-bottom: 12px;
    line-height: 1.5;
}

.example {
    background: #f8f9fa;
    padding: 12px;
    border-radius: 4px;
    border-left: 3px solid var(--accent-color);
}

.example pre {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
    white-space: pre-wrap;
    line-height: 1.4;
}

code {
    background: #eef7ff;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
    font-size: 0.9em;
}

.solution-wrapper {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #eef3f1;
    padding-bottom: 10px;
}

.solution-title {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Общие стили для кнопки "Показать/Скрыть код" */
.toggle-code-btn {
    background-color: var(--secondary-color);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    align-self: flex-end;
    margin-top: auto;
}

.toggle-code-btn:hover {
    background-color: var(--accent-color);
}

/* Общий стиль для калькуляторов (решений) */
.like-calculator,
.like-dislike-calculator, .cart-calculator {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем содержимое */
    gap: 12px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    max-width: 600px;
    margin: 0 auto;
}